/* ===== x-large devices (large desktops, less than 1400px)===== */
@media (max-width: 1400px) {
}
/* ===== large devices (desktops, less than 1200px) ===== */
@media (max-width: 1199px) {
  h1 {
    line-height: 62px;
  }
  /* ===================================================
          header_part start 
 ===================================================== */
  #header_part .nav-link {
    margin-right: 20px;
  }
  /* ===================================================
          header_part start 
 ===================================================== */
  #copyright_part .footer_menu ul li {
    margin-left: 30px;
  }
  #footer_part .contact-details {
    padding: 15px 10px;
  }
  /* ===================================================
          main_part start 
 ===================================================== */

  /* ===================================================
          work_part start 
 ===================================================== */
  #work_part .work_part_card_img span {
    left: 10%;
  }
  /* ===================================================
          _part start 
 ===================================================== */

  /* ===================================================
          _part start 
 ===================================================== */

  /* ===================================================
          _part start 
 ===================================================== */

  /* ===================================================
          _part start 
 ===================================================== */
}
/* ===== medium devices (tablets, less than 992px) ===== */
@media (max-width: 991px) {
  h1 {
    font-size: 42px;
    line-height: 52px;
  }
  h2 {
    font-size: 38px;
    line-height: 40px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
  /* ===================================================
          header_part start 
 ===================================================== */
  #header_part .navbar-toggler {
    border: 1px solid var(--white-color);
  }
  #header_part .navbar-toggler:focus {
    box-shadow: none;
    outline: none;
  }
  #header_part .navbar-toggler i {
    color: var(--white-color);
  }
  #header_part .nav-link {
    margin-right: 20px;
    transition: 0.4s;
  }
  #header_part .nav-link:hover {
    margin-left: 5px;
  }
  #header_part .theme_btn {
    margin-left: 0px;
  }
  /* ===================================================
          main_part start 
 ===================================================== */
  #main_part .main_part_left h1,
  #main_part .main_part_left p {
    margin-bottom: 25px;
  }
  #main_part .theme_btn.active {
    margin-bottom: 10px;
  }
  /* ===================================================
          work_part start 
 ===================================================== */
  #work_part .work_part_card_img span {
    left: 15%;
  }
  /* ===================================================
          _part start 
 ===================================================== */

  /* ===================================================
          _part start 
 ===================================================== */

  /* ===================================================
          _part start 
 ===================================================== */

  /* ===================================================
          _part start 
 ===================================================== */

  /* ===================================================
          footer_part start 
 ===================================================== */
  #footer_part .contact-details a {
    font-size: 14px;
  }
  /* ===================================================
          copyright_part start 
 ===================================================== */
  #copyright_part .footer_menu ul li {
    margin-left: 25px;
  }
  #copyright_part .footer_menu ul li a {
    font-size: 14px;
  }
}
/* ===== small devices (landscape phones, less than 768px) ===== */
@media (max-width: 767px) {
  .layout_padding {
    padding: 100px 0px;
  }
  /* ===================================================
          main_part start 
 ===================================================== */
  #main_part .theme_btn.active {
    margin-bottom: 0px;
  }
  #main_part .main_part_right {
    margin-top: 35px;
  }
  /* ===================================================
          work_part start 
 ===================================================== */
  #work_part .work_part_card {
    margin-bottom: 0;
    margin-top: 35px;
  }
  #work_part .work_part_card_img span {
    left: 5%;
  }
  /* ===================================================
          footer_part start 
 ===================================================== */
  #footer_part {
    padding-bottom: 25px;
  }
  #footer_part .footer-left p {
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.7);
  }
  #footer_part .footer-right h2 {
    margin-top: 35px;
  }
  #footer_part .contact-details {
    padding: 25px 35px;
  }

  /* ===================================================
          copyright_part start 
 ===================================================== */
  #copyright_part .copy_text p {
    text-align: center;
    margin-bottom: 10px;
  }
  #copyright_part .footer_menu {
    text-align: center;
  }
}
/* ===== x-small devices (portrait phones, less than 576px) ===== */
@media (max-width: 575px) {
  h1 {
    font-size: 40px;
    line-height: 42px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .layout_padding {
    padding: 80px 0px;
  }
  /* ===================================================
          main_part start 
 ===================================================== */

  /* ===================================================
          work_part start 
 ===================================================== */
  #work_part .work_part_left {
    text-align: center;
  }
  #work_part .work_part_card {
    text-align: center;
  }
  #work_part .work_part_card_img span {
    left: 50%;
  }
  /* ===================================================
          _part start 
 ===================================================== */

  /* ===================================================
          _part start 
 ===================================================== */

  /* ===================================================
          _part start 
 ===================================================== */

  /* ===================================================
          _part start 
 ===================================================== */

  /* ===================================================
          footer_part start 
 ===================================================== */
  #footer_part {
    padding: 80px 0 0;
    padding-bottom: 25px;
  }
}
/* ===== mobile device ===== */
@media (max-width: 412px) {
  .theme_btn {
    padding: 7px 18px;
    font-size: 16px;
  }
  /* ===================================================
          main_part start 
 ===================================================== */
  /* ===================================================
          work_part start 
 ===================================================== */

  #work_part .work_part_card_img span {
    left: 50%;
  }
  /* ===================================================
          _part start 
 ===================================================== */

  /* ===================================================
          _part start 
 ===================================================== */

  /* ===================================================
          _part start 
 ===================================================== */

  /* ===================================================
          _part start 
 ===================================================== */

  /* ===================================================
          footer_part start 
 ===================================================== */
  #copyright_part .footer_menu ul li:first-child {
    margin-left: 0px;
  }
}
