/* ===== import fonts ===== */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* ===== import files ===== */
@import url(bootstrap.min.css);
@import url(font.all.min.css);
/* ===== skeleton ===== */
:root {
  --primary-bg-color: #1c1e53;
  --secondary-bg-color: #f4f6fc;
  --third-bg-color: #fcd980;
  --primary-font-color: #fcd980;
  --secondary-font-color: #282938;
  --third-font-color: #bbbbcb;
  --white-color: #ffffff;
  --btn-color: #1b1c2b;
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Manrope", sans-serif;
}
* {
  box-sizing: border-box !important;
  transition: ease all 0.5s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 14px;
  font-family: var(--primary-font-family);
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
  font-style: normal;
  color: var(--secondary-font-color);
  background-color: #e5e5e5;
}
a,
.btn {
  text-decoration: none !important;
  display: inline-block;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  padding: 0;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  color: var(--secondary-font-color);
}
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button:focus {
  outline: none;
}
ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
input:focus {
  box-shadow: none !important;
}
:focus {
  outline: 0;
}

/* ===== common-css_part start ===== */
.layout_padding {
  padding: 1240px 0px;
}
.mb_30 {
  margin-bottom: 30px;
}
h1 {
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  color: var(--white-color);
}
h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
}
h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
}
h5 {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}
h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}
.theme_btn {
  padding: 25px 55px;
  border-radius: 41px;
  background-color: var(--third-bg-color);
  color: var(--btn-color);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  font-family: var(--secondary-font-family);
}
/* ===== common-css_part end ===== */

/* ===== header_part start ===== */
/* ===== header_part end ===== */
/* ===== main_part start ===== */
/* ===== main_part end ===== */
/* ===== footer_part start ===== */
/* ===== footer_part end ===== */
/* ===== _part start ===== */
/* ===== _part end ===== */
