/* ===================================================
         google fonts 
 ===================================================== */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* ===================================================
          import files
 ===================================================== */
@import url(bootstrap.min.css);
@import url(font.all.min.css);
/* ===================================================
          Skeleton 
 ===================================================== */
:root {
  --primary-bg-color: #1c1e53;
  --secondary-bg-color: #f4f6fc;
  --third-bg-color: #fcd980;
  --primary-font-color: #fcd980;
  --secondary-font-color: #282938;
  --third-font-color: #bbbbcb;
  --white-color: #ffffff;
  --btn-color: #1b1c2b;
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Manrope", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  transition: ease all 0.5s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  font-family: var(--primary-font-family);
  line-height: 28px;
  font-weight: normal;
  overflow-x: hidden;
  font-style: normal;
  color: var(--secondary-font-color);
  background-color: #e5e5e5;
}
a,
.btn {
  text-decoration: none !important;
  color: var(--secondary-font-color);
  display: inline-block;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: var(--secondary-font-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  padding: 0;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  color: var(--secondary-font-color);
}
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button:focus {
  outline: none;
}
ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
input:focus {
  box-shadow: none !important;
}
:focus {
  outline: 0;
}

/* ===================================================
          common-css_part start 
 ===================================================== */
.layout_padding {
  padding: 124px 0px;
}
.mb_30 {
  margin-bottom: 30px;
}
.mb_35 {
  margin-bottom: 35px;
}
h1 {
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  color: var(--white-color);
}
h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
}
h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
}
h5 {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}
h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--white-color);
  opacity: 0.7;
}
.theme_btn {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 41px;
  background-color: transparent;
  color: var(--white-color);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  font-family: var(--secondary-font-family);
}
.theme_btn.active {
  background-color: var(--third-bg-color);
  color: var(--btn-color);
}
.theme_btn:hover {
  background-color: #fde4a6;
}
/* ===================================================
          header_part start 
 ===================================================== */
#header_part {
  background-color: var(--primary-bg-color);
  padding: 15px 0;
}
#header_part .nav-link {
  color: #bbbbcb;
  margin-right: 29px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}
#header_part .nav-link.active,
#header_part .nav-link:hover {
  color: #ffffff;
}
#header_part .theme_btn {
  margin-left: 20px;
  background-color: transparent;
  border: 1px solid var(--third-font-color);
  color: var(--white-color);
}
#header_part .theme_btn:hover {
  background-color: var(--primary-font-color);
  color: var(--secondary-font-color);
}
/* ===================================================
          main_part start 
 ===================================================== */
#main_part {
  background-color: var(--primary-bg-color);
}
#main_part .main_part_left h1,
#main_part .main_part_left p {
  margin-bottom: 40px;
}
/* ===================================================
          work_part start 
 ===================================================== */
#work_part {
  background-color: var(--secondary-bg-color);
}
#work_part .work_part_left p {
  margin-bottom: 25px;
  color: var(--secondary-font-color);
}
#work_part .work_part_left a {
  color: #2405f2;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
#work_part .work_part_card_img {
  position: relative;
}
#work_part .work_part_card_img span {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #fff;
  line-height: 32px;
}
#work_part .work_part_card h5 {
  margin: 10px 0;
}
#work_part .work_part_card p {
  color: var(--secondary-font-color);
  opacity: 0.7;
}
/* ===================================================
          _part start 
 ===================================================== */

/* ===================================================
          _part start 
 ===================================================== */

/* ===================================================
          _part start 
 ===================================================== */

/* ===================================================
          _part start 
 ===================================================== */

/* ===================================================
          _part start 
 ===================================================== */

/* ===================================================
          footer_part start 
 ===================================================== */
#footer_part {
  background-color: var(--primary-bg-color);
  padding: 130px 0 0;
}

#footer_part .footer-left p {
  margin-bottom: 90px;
  color: rgba(255, 255, 255, 0.7);
}
#footer_part .footer-left span {
  color: var(--secondary-font-color);
}
#footer_part .footer-left a {
  color: rgba(40, 41, 56, 0.8);
  font-weight: 400;
}
#footer_part .contact-details {
  padding: 25px 35px;
  background-color: var(--third-bg-color);
}
#footer_part .contact-details span {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: var(--secondary-font-color);
}
#footer_part .footer-right h2 {
  color: var(--white-color);
}
#footer_part .footer-right p {
  color: rgba(255, 255, 255, 0.7);
}
#footer_part .footer-right .social-links ul {
  display: inline-block;
}
#footer_part .footer-right .social-links ul li {
  display: inline;
  margin-right: 20px;
}
#footer_part .footer-right .social-links ul li a {
  color: var(--white-color);
}
#footer_part .footer-right .social-links ul li a i {
  font-size: 22px;
}
#footer_part .footer-right .social-links ul li a:hover i {
  color: var(--primary-font-color);
}
/* ===================================================
          copyright_part start 
 ===================================================== */
#copyright_part {
  background-color: var(--white-color);
  padding: 25px 0;
}
#copyright_part p {
  margin-bottom: 0;
  color: var(--secondary-font-color);
  opacity: 1;
}
#copyright_part .footer_menu {
  text-align: right;
}
#copyright_part .footer_menu ul li {
  display: inline-block;
  margin-left: 35px;
}
#copyright_part .footer_menu ul li a {
  font-weight: 500;
  color: var(--secondary-font-color);
}
#copyright_part .footer_menu ul li:hover a {
  color: var(--primary-font-color);
}
